# Ignora dipendenze locali
node_modules/

# Ignora build native
android/
ios/

# Ignora build output
dist/
build/
web-build/

# Ignora cache Expo
.expo/
.expo-shared/

# Ignora log e file temporanei
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Ignora file di sistema
.DS_Store
Thumbs.db

# Ignora file di editor
.vscode/
.idea/
*.swp

# Ignora asset enormi non necessari
*.psd
*.ai
*.zip
*.rar
*.7z
*.mp4
*.mov
*.avi
*.mkv
